*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}

body{
    width: 100vw;
    height: 100vh;
}

header{
    width: 80vw;
    height: 33vh;
    margin: 20px 10%;
}

nav{
    border: 2px solid black;
    background-image: url(../images/design1_image2.jpg);
    background-size: cover;
    background-position: 0 30%;
    height: 30vh;
}

main{
    background-image: url(../images/istockphoto-166319867-170667a.jpg);
    background-size: cover;
    width: 80vw;
    margin: 20px 10%;
}

.conteiner{
    display: flex;
    align-items: flex-start;
}

figure{
    display: flex;
    flex-direction: column;
}

article{
    margin: 10px 40px;
    display: inline-block;
}

.logo{
    margin: 2rem;
    width: 10vw;
}

.ilustración{
    width: 15vw;
    margin: 2rem;
}

h1{
    color: #c3ce31;
    background-color: rgb(43, 44, 42);
}

h2{
    color: #c3ce31;
    background-color: rgb(43, 44, 42);
    border: 2px solid black;
    text-align: center;
}

.btn-green{
    color: white;
    background-color: green;
    text-decoration: none;
    display: inline-block;
    padding: 5px 15px;
    margin: 5px;
    position: relative;
    top: -20px;
    left: 55%;
}

.btn-blue{
    color: white;
    background-color: blue;
    text-decoration: none;
    display: inline-block;
    padding: 5px 15px;
    margin: 5px;
    position: relative;
    top: -20px;
    left: 55%;
}

.email{
    font-size: x-large;
}

#rulist{
    font-size: large;
    border-bottom: 3px double #5D3891;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: .5rem;
    padding: .3rem;
    margin: 20px;
}

#prule{
    font-size: large;
    text-align: center;
}

#mgames{
    font-size: large;
}

